@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");
.navigation {
  background: var(--color-lightblue);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 0.5rem 2rem;
  z-index: var(--z-index-five);
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

.navigation .logo {
  font-family: "Satisfy", cursive;
  font-weight: 500;
  font-size: 2rem;
  cursor: pointer;
  color: var(--color-light);
}
