@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");
.navigation {
  background: var(--color-lightblue);
  position: sticky;
  height: 3.5rem;
  top: 0;
  left: 0;
  right: 0;
  z-index: var(--z-index-five);
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}
.navigation a,
.navigation-item--link {
  text-decoration: none;
  color: var(--color-light);
}
.navigation .logo {
  font-family: "Satisfy", cursive;
  font-weight: 500;
  font-size: 2.25rem;
  cursor: pointer;
  padding-left: 8vw;
  color: var(--color-light);
}

.navigation .navigation-item {
  position: absolute;
  right: 0;
  height: 100%;
  display: flex;
  align-items: center;
  align-content: center;
}

.navigation .navigation-item a,
.navigation .navigation-item .navigation-item--link {
  padding: 0 3vw;
  font-size: 1.1rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  border-bottom: 3px solid transparent;
  transition: all 0.3s linear;
}
.navigation .navigation-item a p,
.navigation .navigation-item .navigation-item--link p {
  font-size: 0.75rem;
  margin: 0;
}
.navigation .navigation-item a:hover,
.navigation .navigation-item .navigation-item--link:hover {
  background: var(--color-light);
  color: var(--color-lightblue);
  transition: all 0.1s linear;
}
.navigation .navigation-item .navigation-item--link:active,
.navigation .navigation-item a:active,
.navigation .navigation-item a.active {
  border-color: var(--color-cream);
  background: var(--color-light);
  color: var(--color-lightblue);
  transition: 0.1s;
}
.navigation .navigation-item a:nth-child(3) img {
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 50%;
}
/* --------small screen------- */

@media screen and (max-width: 780px) {
  .navigation .logo {
    font-size: 2rem;
    padding-left: 2vw;
  }
  .navigation .navigation-item a,
  .navigation .navigation-item .navigation-item--link {
    font-size: 0.75rem;
  }
}
